.react-date-picker-dayjs-selector {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
  }
}
